```
# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
.ENV
.python-version
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
*.pot
*.po
*~
.pytest_cache/
.mypy_cache/

# Odoo specific
*.xml
*.csv
*.pdf
*.xls
*.xlsx
*.doc
*.docx
*.ppt
*.pptx
*.odt
*.ods
*.odp
*.rtf
*.epub
*.mobi
*.azw
*.azw3
*.djvu
*.fb2
*.ibooks
*.lit
*.lrf
*.pdb
*.prc
*.xeb
*.opf
*.ncx
*.otf
*.ttf
*.woff
*.woff2
*.eot
*.svg
*.ico
*.icns
*.cur
*.ani
*.jfif
*.pjpeg
*.pjp
*.apng
*.avif
*.gif
*.jpg
*.jpeg
*.jfif
*.pjpeg
*.pjp
*.png
*.svg
*.webp
*.bmp
*.ico
*.tiff
*.tif
*.psd
*.ai
*.eps
*.raw
*.cr2
*.nef
*.orf
*.sr2
*.arw
*.dng
*.raf
*.x3f
*.pef
*.srw
*.rw2
*.nrw
*.erf
*.kdc
*.mrw
*.mos
*.cap
*.iiq
*.3fr
*.fff
*.hasselblad
*.pxn
*.rwl
*.sti
*.drf
*.dcs
*.cs1
*.bmq
*.mef
*.mdc
*.mfw
*.mos
*.mrw
*.nef
*.nrw
*.obm
*.orf
*.pef
*.ptx
*.pxn
*.qtk
*.rdc
*.rff
*.rw2
*.rwl
*.rwz
*.sr2
*.srf
*.srw
*.sti
*.x3f
```